<div class="modal-body">
  <strong>Department name: </strong> <%= @department.name %> <br><br>
  <strong>Department code: </strong> <%= @department.department_code %>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>