<div class="modal-body mt-1">
  <strong>College name: </strong> <%= @college.name %>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>